@import "../../_globalColor";

.contact-div-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode a {
  color: $textColorDark;
}

.contact-div-main > * {
  flex: 1;
}

.contact-title {
  font-size: 56px;
  font-weight: 400;
  text-align: center;
}

.contact-detail,
.contact-detail-email {
  margin-top: 14px;
  font-size: 28px;
  font-weight: 400;
  color: $subTitle;
  text-decoration: none;
  text-align: center;
  display: block;
}

.contact-detail:hover,
.contact-detail-email:hover {
  color: $textColor;
  text-shadow: 2px 1px 2px $contactDetailHoverTS;
  transition: all 0.3s;
}

.contact-subtitle {
  text-transform: none;
  text-align: center;
  line-height: 1.7;
  max-width: 760px;
  margin: 0 auto;
}

.contact-text-div {
  margin-top: 1.25rem;
  text-align: center;
}

.contact-margin-top {
  margin-top: 4rem;
}

.contact-image-div {
  display: none;
}

/* Media Query */
@media (max-width: 1380px), (max-width: 768px) {
  .contact-title {
    font-size: 38px;
    font-weight: 400;
    text-align: center;
  }

  .contact-subtitle {
    font-size: 16px;
    line-height: 1.7;
    text-align: center;
    text-transform: none;
  }

  .contact-text-div {
    margin-top: 1.25rem;
    text-align: center;
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 18px;
    word-break: break-word;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .contact-div-main {
    display: block;
  }
  .contact-margin-top {
    margin-top: 2.5rem;
  }
  .contact-subtitle {
    padding: 0 6px;
  }
}
